// Variabili per i colori 
$colore-principale: #40C4FF;
$cards-bkc: #F2F8FC;
$cards-border: #F2F2F2;
$title-dark: #303030;
$par-dark: #545454;
$column-border: #E5E5E5;
$section-border: #EFEFEF;
$column-bkc: #FCFCFC;
$table-bkc: #F2F8FC;

//font-size variables
$main-title: calc(38px + 1.2vw);
$main-par: calc(15px + 0.4vw);